.MovieDetail {
	.card {
		margin: 0;
		&.info {
			// margin-top: -5rem;
			padding: 2rem;
			width: 100%;
		}
	}
	.MovieInfo {
		// min-height: calc(35vh - 64px);
		margin-bottom: 3rem;
		background: #222;
		position: relative;
		text-align: left;
		// padding: 2rem 10% 0 10%;
		display: flex;
		img {
			position: relative;
			// top: -5rem;
		}
		.container {
			margin-top: -2rem;
			.row {
				margin-bottom: 0;
				@media screen and (min-width: 601px) {
					display: flex;
					justify-content: space-between;
				}
			}
		}
	}
	.movie-title {
		margin: 0;
	}
	.movie-genres {
		margin-bottom: 0;
		font-style: italic;
	}
	.col {
		@media screen and (max-width: 600px) {
			display: flex;
			justify-content: center;
		}
		&.m2 {
			@media screen and (max-width: 600px) {
				margin-bottom: 3rem;
			}
			@media screen and (min-width: 601px) {
				margin-left: 0;
				width: auto;
			}
		}
		&.m10 {
			@media screen and (min-width: 601px) and (max-width: 1800px) {
				margin-left: 1rem;
			}
		}
	}
}
.cast-slider {
	.slick-track {
		padding-top: 2rem;
	}
}
.video-slider {
	.slick-track {
		padding: 2rem 0;
	}
}
.slider-title {
	color: #fff;
	text-align: center;
	margin: 1rem 0 0 0;
}
.row.slider-row {
	margin-bottom: 3rem;
}
.pagination {
	margin: 0;
}
.rating-wrapper {
	@media screen and (max-width: 600px) {
		left: 0;
		width: 100% !important;
		bottom: -19px;
		z-index: 1;
	}
}
