.MovieDetail .card {
  margin: 0; }
  .MovieDetail .card.info {
    margin-top: -5rem;
    padding: 2rem;
    width: 100%; }

.MovieDetail .MovieInfo {
  min-height: calc(35vh - 64px);
  background: #222;
  position: relative;
  text-align: left;
  padding: 2rem 10%;
  display: flex; }
  .MovieDetail .MovieInfo img {
    position: relative;
    top: -5rem; }
  @media screen and (min-width: 601px) {
    .MovieDetail .MovieInfo .row {
      display: flex;
      justify-content: space-between; } }

.MovieDetail .movie-title {
  margin: 0; }

.MovieDetail .movie-genres {
  margin-bottom: 0;
  font-style: italic; }

@media screen and (max-width: 600px) {
  .MovieDetail .col {
    display: flex;
    justify-content: center; } }

@media screen and (max-width: 600px) {
  .MovieDetail .col.m2 {
    margin-bottom: 2rem; } }

@media screen and (min-width: 601px) {
  .MovieDetail .col.m2 {
    margin-left: 0;
    width: auto; } }

@media screen and (min-width: 601px) and (max-width: 1800px) {
  .MovieDetail .col.m10 {
    margin-left: 1rem; } }
