.MovieDetail .card {
  margin: 0; }
  .MovieDetail .card.info {
    padding: 2rem;
    width: 100%; }

.MovieDetail .MovieInfo {
  margin-bottom: 3rem;
  background: #222;
  position: relative;
  text-align: left;
  display: flex; }
  .MovieDetail .MovieInfo img {
    position: relative; }
  .MovieDetail .MovieInfo .container {
    margin-top: -2rem; }
    .MovieDetail .MovieInfo .container .row {
      margin-bottom: 0; }
      @media screen and (min-width: 601px) {
        .MovieDetail .MovieInfo .container .row {
          display: flex;
          justify-content: space-between; } }

.MovieDetail .movie-title {
  margin: 0; }

.MovieDetail .movie-genres {
  margin-bottom: 0;
  font-style: italic; }

@media screen and (max-width: 600px) {
  .MovieDetail .col {
    display: flex;
    justify-content: center; } }

@media screen and (max-width: 600px) {
  .MovieDetail .col.m2 {
    margin-bottom: 2rem; } }

@media screen and (min-width: 601px) {
  .MovieDetail .col.m2 {
    margin-left: 0;
    width: auto; } }

@media screen and (min-width: 601px) and (max-width: 1800px) {
  .MovieDetail .col.m10 {
    margin-left: 1rem; } }

.cast-slider .slick-track {
  padding-top: 2rem; }

.video-slider .slick-track {
  padding: 2rem 0; }

.slider-title {
  color: #fff;
  text-align: center;
  margin: 1rem 0 0 0; }

.row.slider-row {
  margin-bottom: 3rem; }

.pagination {
  margin: 0; }
