.MovieDetail {
    .card {
        margin: 0;
        &.info {
            margin: -5rem 0 0 2rem;
            padding: 2rem;
            width: 100%;
        }
    }
    .MovieInfo {
        background: #fff;
        position: relative;
        text-align: left;
        padding: 2rem 10%;
        display: flex;
        img {
            position: relative;
            top: -5rem;
        }
    }
    .movie-title {
        margin: 0;
    }
}