.App {
    .Navbar {
        @media screen and (min-width: 993px) {
            padding-left: 15px;
        }
    }
    .button-collapse {
        cursor: pointer;
    }
    .card {
        margin: 0;
        box-shadow: 0 0 35px #000;
        -webkit-box-shadow: 0 0 35px #000;
    }
    .row.inner {
        margin: 0;
    }
}