.container.movies {
  display: flex;
  flex-wrap: wrap; }
  @media screen and (max-width: 1199px) {
    .container.movies .Movie:nth-child(3n + 1) {
      justify-content: flex-start; }
    .container.movies .Movie:nth-child(3n + 3) {
      justify-content: flex-end; } }
  @media screen and (max-width: 768px) {
    .container.movies .Movie {
      justify-content: center !important; } }
  @media screen and (min-width: 1200px) {
    .container.movies .Movie:nth-child(5n + 1), .container.movies .Movie:nth-child(5n + 2) {
      justify-content: flex-start; }
    .container.movies .Movie:nth-child(5n + 2) {
      padding-left: 0.5%; }
    .container.movies .Movie:nth-child(5n + 5), .container.movies .Movie:nth-child(5n + 4) {
      justify-content: flex-end; }
    .container.movies .Movie:nth-child(5n + 4) {
      padding-right: 0.5%; } }
  @media screen and (min-width: 1350px) {
    .container.movies .Movie:nth-child(5n + 1), .container.movies .Movie:nth-child(5n + 2) {
      justify-content: flex-start; }
    .container.movies .Movie:nth-child(5n + 2) {
      padding-left: 1.25%; }
    .container.movies .Movie:nth-child(5n + 5), .container.movies .Movie:nth-child(5n + 4) {
      justify-content: flex-end; }
    .container.movies .Movie:nth-child(5n + 4) {
      padding-right: 1.25%; } }

.container .row.filter p {
  margin: 0 0 2rem 0; }
