.MoviesList {
  margin-top: 3rem;
  /* label color */
  /* label focus color */
  /* label underline focus color */
  /* valid color */
  /* invalid color */
  /* icon prefix focus color */ }
  .MoviesList .list-title {
    margin: 0; }
  .MoviesList .list-subtitle {
    margin: .5rem 0 2rem 0; }
  .MoviesList .input-field {
    margin: 0; }
  .MoviesList .input-field label {
    color: #aaa; }
  .MoviesList .input-field input[type=text]:focus + label {
    color: #aaa; }
  .MoviesList .input-field input[type=text]:focus {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff; }
  .MoviesList .input-field input[type=text].valid {
    border-bottom: 1px solid #2ecc71;
    box-shadow: 0 1px 0 0 #2ecc71; }
  .MoviesList .input-field input[type=text].invalid {
    border-bottom: 1px solid #e74c3c;
    box-shadow: 0 1px 0 0 #e74c3c; }
  .MoviesList .input-field .prefix.active {
    color: #fff; }
  .MoviesList .container.movies {
    display: flex;
    flex-wrap: wrap; }
    @media screen and (max-width: 1199px) {
      .MoviesList .container.movies .Movie:nth-child(3n+1) {
        justify-content: flex-start; }
      .MoviesList .container.movies .Movie:nth-child(3n+3) {
        justify-content: flex-end; } }
    @media screen and (max-width: 768px) {
      .MoviesList .container.movies .Movie {
        justify-content: center !important; } }
    @media screen and (min-width: 1200px) {
      .MoviesList .container.movies .Movie:nth-child(5n+1), .MoviesList .container.movies .Movie:nth-child(5n+2) {
        justify-content: flex-start; }
      .MoviesList .container.movies .Movie:nth-child(5n+2) {
        padding-left: .5%; }
      .MoviesList .container.movies .Movie:nth-child(5n+5), .MoviesList .container.movies .Movie:nth-child(5n+4) {
        justify-content: flex-end; }
      .MoviesList .container.movies .Movie:nth-child(5n+4) {
        padding-right: .5%; } }
    @media screen and (min-width: 1350px) {
      .MoviesList .container.movies .Movie:nth-child(5n+1), .MoviesList .container.movies .Movie:nth-child(5n+2) {
        justify-content: flex-start; }
      .MoviesList .container.movies .Movie:nth-child(5n+2) {
        padding-left: 1.25%; }
      .MoviesList .container.movies .Movie:nth-child(5n+5), .MoviesList .container.movies .Movie:nth-child(5n+4) {
        justify-content: flex-end; }
      .MoviesList .container.movies .Movie:nth-child(5n+4) {
        padding-right: 1.25%; } }
  .MoviesList .container .row.filter p {
    margin: 0 0 2rem 0; }
