.MoviesList {
  margin-top: 3rem; }
  .MoviesList .list-title {
    margin: 0; }
  .MoviesList .list-subtitle {
    margin: .5rem 0 3rem 0;
    font-style: italic; }
  .MoviesList .container.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
