.Movie {
    width: 20%;
    display: flex;
    justify-content: center;
    margin: .5rem 0 1rem 0;
    @media screen and (max-width: 1199px) {
        width: 33.3%;
    }
    @media screen and (max-width: 768px) {
        width: 50%;
    }
    @media screen and (max-width: 540px) {
        width: 100%;
    }
}