.Movie {
  width: 20%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem; }
  .Movie .RatingCon {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: -25px; }
    .Movie .RatingCon .Rating {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 2px;
      padding: 0.25rem;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
      -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); }
      .Movie .RatingCon .Rating .material-icons {
        color: #fff;
        width: 22px;
        font-size: 1.3rem; }
      .Movie .RatingCon .Rating p {
        font-size: 1rem;
        padding-right: 0.25rem;
        margin: 0;
        color: #fff; }
  .Movie .ThumbnailCon {
    display: flex;
    justify-content: center;
    align-items: center; }
  @media screen and (max-width: 1199px) {
    .Movie {
      width: 33.3%; } }
  @media screen and (max-width: 768px) {
    .Movie {
      width: 50%; } }
  @media screen and (max-width: 540px) {
    .Movie {
      width: 100%; } }
